nav>ul{
	position:absolute;
	top:45px;
	left:183px;
	right:183px;
	border: solid black 2px;
	color:white;
	background-color:black;
	word-spacing:34px;
	display:inline;
	padding:5px 5px;
}
#logo{
	position:absolute;
	top:21px;
	left:207px;
}
#header{
	position:absolute;
	top:90px;
	left:0px;
}
#banner1{
	position:absolute;
	top:563px;
	left:208px;
}
#banner2{
	position:absolute;
	top:563px;
	left:533px;
}
#banner3{
	position:absolute;
	top:563px;
	left:858px;
}
.menu>li{
	display:inline-block;
	border:10px solid black;
	background-color:black;	
	color:white;
}
.menu>li>a{
	color:white;
}
.uitklap-menu{
position:absolute;
top:29px;
left:-15px;
display:none;
list-style-type:none;
padding:0px;
background-color:black;	
min-width:90px;
}
.uitklap-menu>li>a{
	color:white;
}
.uitklap-item:hover > .uitklap-menu{
	display:block;
}
.uitklap-item{
	position: relative;
	word-spacing:0px;
}
nav>ul>li:nth-child(1):hover{
background-color:#ffe718;
border:solid #ffe718 10px;
}
nav>ul>li>a:nth-child(1):hover{
color:black;
}
nav>ul>li:nth-child(2):hover{
background-color:#ffe718;
border:solid #ffe718 10px;
}
nav>ul>li>a:nth-child(2):hover{
color:black;
}
nav>ul>li:nth-child(3):hover{
background-color:#ffe718;
border:solid #ffe718 10px;
}
nav>ul>li>a:nth-child(3):hover{
color:black;
}
nav>ul>li:nth-child(4):hover{
background-color:#ffe718;
border:solid #ffe718 10px;
}
nav>ul>li>a:nth-child(4):hover{
color:black;
}
nav>ul>li:nth-child(5):hover{
background-color:#ffe718;
border:solid #ffe718 10px;
}
nav>ul>li>a:nth-child(5):hover{
color:black;
}
/*.yellow>ul>a{
		position:absolute;
		top:843px;
		left:0px;
		right:0px;
	border: solid yellow 17px;
	color:white;
	background-color:yellow;
	word-spacing:34px;
}